body {
    font-family: Arial;
}

h2 {
    margin-top: 0;
}

h1 {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    justify-content: center;
}

/* 
Para ambos, é necessário espaço sobrando entre os elementos e no espaço geral do grid
justify-content = vertical 
align-content = horizontal 
elemento 'place-content' é uma abreviação dos dois elementos anteriores */


.comprar {
    display: inline-block;
    padding: 10px 20px;
    background: #ffdb00;
    color: #4e2a00;
    text-decoration: none;
    font-weight: 600;
    border-radius: 4px;
}

.item {
    background: #f7f7f7;
    border: 1px solid #e7e7e7;
    padding: 20px;
    border-radius: 4px;
    display: grid;
}

/* criando o grid dentro do intem 
Alinhando e Justificando elementos com o display grid */