/* General Reset */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
  display: grid;
  gap: 3.75rem;
  justify-items: center;
  margin-top: 3.75rem;
}

img {
  max-width: 100%;
  display: block;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

p {
    font-size: 1.25rem;
    line-height: 1.3;
}


/* Content Style */

.navigation {
    display: grid;
    justify-items: center;
    gap: 3.75rem;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    justify-content: center;
}

.menu-items {
    background-color: #fff;
    padding: 0.9rem 1.875rem;
    border-radius: .25rem;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    border: .125rem solid #fff;
}

.menu-items:hover {
    border-color: #ec1f11;    
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 62.5rem;
}

.intro {
    background-color: #fff;
    padding: 2.5rem;
    text-align: right;
    position: relative;
    display: grid;
    align-content: center;
    justify-items: end;
    gap: 1.25rem;
}

.cover-img {
    object-fit: cover;
    height: 100%;
}

.card-title {
    position: relative;
    font-size: 2rem;
}

.intro::before {
    content: "";
    position: absolute;
    width: 3.75rem;
    height: .25rem;
    background-color: #ec1f11;
    top: 1.875rem;
    right: -1.875rem;
}
/* 
.adornment {
    width: 3.75rem;
    height: .25rem;
    background-color: #ec1f11;
    position: absolute;
    top: 1.875rem;
    right: -1.875rem;
} */

.button {
    background-color: #ec1f11;
    color: #ffffff;
    font-weight: 600;
    padding: 0.9rem 1.875rem;
    border-radius: .25rem;
    text-transform: uppercase;
    margin-top: 1rem;
}

.button:hover {
    background-color: #900;
}

.subtitle {
    background-image: url(/img/onda.svg);
    font-size: 4rem;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.2);
    text-align: right;
    padding: 2.5rem;
    align-self: center;
}

.advantages {
    background-color: #fff;
    padding: 2.5rem;
}

.advantages-item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: .625rem 1.25rem;
    padding: 1.25rem;
    border-left: .25rem solid transparent;
}

.advantages-item:hover {
    border-color: #ec1f11;
}

.advantages-item:nth-child(odd) {
    background-color: #f7f7f7;
}

.advantages-item p {
    grid-column: 2;
}

.advantages-icons {
    width: 1.56rem;
}

.footer {
    background-color: #fff;
    width: 100%;
    padding: 2.5rem;
    text-align: center;
    box-sizing: border-box;
}

@media (max-width: 62.5rem) {
    .content-advantages {
        grid-template-columns: 1fr;
    }

    .subtitle {
        text-align: center;
    }
}

@media (max-width: 600px) {
    body {
        margin-top: 1.875rem;
    }

    .content {
        grid-template-columns: 1fr;
    }

    .intro {
        text-align: left;
        justify-items: start;
    }

    .intro::before {
        display: none;
    }

    .subtitle {
        font-size: 3rem;
    }
}