/* h1 {
    border: 2px solid #ccc;
    padding: 20px 20px 200px 20px;

}

p {
    background: #e7e7e7;
    border: 10px solid #000;
    padding: 20px;
    font-size: 20px;
    margin: 0;
}

.fixo {
    position: fixed;
    top: 0px;
    left: 0px;
}
*/

div {
  border: 2px solid #ccc;
  padding: 20px 20px 40px 20px;
  margin-top: 60px;
}

span {
  background: #e7e7e7;
  border: 2px solid #ccc;
  padding: 10px;
  position: relative;
  top: -20px;
}
